<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>SqlMan/{{ title }}</title>
        <meta name="description" content="{{description}}"/>
        <meta name="keywords" content="SqlMan, document, java sql, java jdbc, java orm, jdbc tools, jdbc helper, {{tags}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/> 
        <meta
        name="viewport" content="width=device-width, initial-scale=1"/> {#     <link rel="preconnect" href="https://fonts.googleapis.com">
                                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                                <link
                                    href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
                                    rel="stylesheet"> #}
        <link rel="stylesheet" href="/style/docs/main.css"/>
        <link rel="icon" type="image/png" href="/asset/favicon.png"/>
        <script src="/asset/docs/js/common.js"></script>
    </head>
    <body>
        <nav>
            <div>
                <div class="links">
                    <a href="/">🏠 首页</a>
                    |
                                                                            ⚙️ 源码：
                    <a target="_blank" href="https://github.com/lightweight-component/SqlMan">Github</a>/<a target="_blank" href="https://gitcode.com/lightweight-component/SqlMan">Gitcode</a>
                    {# |
                                        <a href="/docs/common/contact">✉️ Contact</a> #}
                    |
                    <a href="/docs">English Version</a>
                </div>
                <h1>
                    <img src="/asset/favicon-2x.png" style="vertical-align: middle;height: 45px;margin-bottom: 6px;"/> SqlMan
                </h1>
                <h3>轻量级 JDBC 助手——用户手册</h3>
            </div>
        </nav>
        <div>
            <menu>
                {# <h3>AJ Framework 简介</h3> #}
                <ul>
                    <li class="selected">
                        <a href="/docs/cn">首页</a>
                    </li>
                    <li>
                        <a href="/docs/quick-start-cn">快速开始</a>
                    </li>
                    <li>
                        <a href="/docs/setup-cn">安装与配置</a>
                    </li>
                </ul>
                <h3>数据库查询</h3>
                <ul>
                    <li>
                        <a href="/docs/query/query-concept-cn">基础概念</a>
                    </li>
                    <li>
                        <a href="/docs/query/query-tutorial-cn">查询教程</a>
                    </li>
                    <li>
                        <a href="/docs/query/query-paging-cn">分页查询</a>
                    </li>
                </ul>
                <h3>写入数据</h3>
                <ul>
                    <li>
                        <a href="/docs/write/Create-Update-Delete-cn">创建/修改/删除</a>
                    </li>
                    <li>
                        <a href="/docs/write/batch-cn">批量更新</a>
                    </li>
                </ul>
                <h3>其他用法</h3>
                <ul>
                    <li>
                        <a href="/docs/other/sql-xml-cn">SQL 写在 XML 中</a>
                    </li>
                    <li>
                        <a href="/docs/other/entity-cn">“类” ORM</a>
                    </li>
                </ul>
                <h3>Misc</h3>
                <ul>
                    <li><a href="/docs/common/versions-cn">更新历史</a></li>
                    <li><a href="/docs/common/contact-cn">联系</a></li>
                </ul>
            </menu>
            <article>
                {{ content | safe }}
            </article>

        </div>
        {% include "component/footer.njk" %}
    </body>
</html>